.usercard {
    background-color: #333333;
    color: white;
    height: 200px;
}

img {
    position: absolute;
    height: 175px;
    width: 175px;
    left: 15%;
    bottom: 64%;
}

h2 {
    position: absolute;
    left: 2.5%;
    top: 18%;
}

